body {
    background-color: #f7f7f7 !important;
}

div.card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

div.card-body {
    margin: 0 !important;
    padding: 0 !important;
}

div.btn-container {
    display: flex;

}

button.selector {
    margin: auto;
    margin-top: 8px;
}